.search_bar{
    display: flex;
    justify-content: center;
}

.search_input {
    width: 60%;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    margin: 8px;
}

.search_button{
    margin: 8px;
}