.App{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:mediumslateblue;
  padding:  8px 12px;
}

.nav_logo{
  font-size: 30px;
  color: white;
}

.nav_logo i {
  color : green;
}

.nav_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav_menu li{
  padding: 8px 12px;
}

.nav_icon {
  list-style: none;
  color: white;
  display: flex;
  padding: 8px 12px;
  font-size : 18px;
}

.nav_icon i{
  margin :12px;
}

.nav_icon a{
  margin: 12px;
  font-size: 14px;
}

.nav_toggleBtn{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
}

footer{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 1%;
  font-size: 13px;
  margin: 0;
}

@media screen and (max-width: 700px) {
  nav {
      flex-direction: column;
      align-items: flex-start;
  }
  .nav_menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .nav_menu li{
      width: 100%;
      text-align: center;
      padding: 8px 12px;
  }
  .nav_icon {
      display: none;
      padding: 0;
      justify-content: center;
      width: 100%;
  }
  .nav_toggleBtn{
      display: block;
  }
  .nav_menu.active,
  .nav_icon.active{
      display: flex;
  }
}